.aside__tags {
    border-bottom: 0.0625rem solid gray;
}

.aside__tags ul {
    padding: 0;
    list-style: none;
}

.aside__tags ul li {
    padding: 0.125rem 0.25rem;
    background-color: steelblue;
    margin-right: 0.0625rem;
    color: white;
}
